body {
  background-color: #FAFAFA;
  color: #242A38;
  font-family: "Aktiv Grotesk", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 40px;
  height: 100vh;
}

#intro {
  max-width: 90ch;
  font-size: 5rem;
  line-height: 1.8;
  text-align: left;
  word-break: break-word;
  white-space: normal;
}

#cursor {
  display: inline-block;
  color: #00aaff;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

.link {
  color: #00aaff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
}



