const typed = new Typed('#typed-text', {
  strings: [
    "Creative. Detail-oriented. Innovative. Dynamic. Precise. Balanced. User-focused. Immersive. Adaptive. Functionality. Typographic. Modular. Accessible. Interactive. Print-ready. Screen-optimized. <a href='#portfolio' class='link'>Portfolio</a>. Design. Engaging. Clean. Modern. Impactful. Engaging. Purposeful. Cohesive. Dynamic. Visually compelling. Experimental. Striking. Balanced. Refined. Structured. Expressive. Polished. Strategic. Concept-driven. Bold. Sleek. Minimalistic. User-focused. Innovative. <a href='#about' class='link'>About Me</a>. Jack Kelly. Immersive. Adaptive. Harmonious. Detailed. Sharp. Aesthetic. High-quality. Professional. Timeless. Functional. Immersive. Memorable. Dedicated. Adaptable. Expressive. Ambitious. Observant. Analytical. Precise. Experimental. Dynamic. Strategic. Collaborative. Resourceful. Methodical. Intuitive. Bold. Meticulous. Intentional. Versatile. Conceptual. <a href='#contact' class='link'>Contact</a>."
  ],
  typeSpeed: 40,
  backSpeed: 0,
  showCursor: true,
  cursorChar: '|',
  html: true  // allows the <a> links to render properly
});
